<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage form-control" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_name" data-rule="required" class="form-control form-control" name="row[city_name]" type="text" value="{$row.city_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Full_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-full_name" data-rule="required" class="form-control form-control" name="row[full_name]" type="text" value="{$row.full_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id_photo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id_photo" data-rule="required" class="form-control form-control" name="row[id_photo]" type="text" value="{$row.id_photo}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prove_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-prove_images" data-rule="required" class="form-control form-control" size="50" name="row[prove_images]" type="text" value="{$row.prove_images}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-prove_images" class="btn btn-danger plupload" data-input-id="c-prove_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-prove_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-prove_images" class="btn btn-primary fachoose" data-input-id="c-prove_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-prove_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-prove_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prove_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-prove_desc" data-rule="required" class="form-control  form-control" rows="5" name="row[prove_desc]" cols="50">{$row.prove_desc}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
